* {
    margin: 20px;
}

body {
    background: rgb(227, 206, 150);
}

#rd-title {
    font-family: 'Manrope', sans-serif;
    font-size: 34px;
    text-align: center;
}

h2 {
    font-family: 'Manrope', sans-serif;
    margin-top: 35px;
    font-weight: bold;
    text-align: center;
}

.p-text {
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    text-align: center;

}

.p-text:hover {
    background-color: rgb(235, 225, 204);
    border-style: dotted;
    border-radius: 13px;
    font-size: 15px;
}

ul {
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    text-align: left;
}

ul:hover {
    background-color: rgb(235, 225, 204);
    border-style: dotted;
    border-radius: 13px;
    font-size: 15px;
}